body {
margin:0;
padding: 0;
background: gray;
text-align: center;
font-family: arial;
}

#wrapper {
	margin-left:auto;
	margin-right:auto;
	width: 900px;
	height: 100%;
	background: white;
	text-align:left;
}